<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKUbq_Z2qrrXdl9pFLQINAlQBuFS6TwKc</string>
	<key>GCM_SENDER_ID</key>
	<string>572502871178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.usercredential</string>
	<key>PROJECT_ID</key>
	<string>usercredential-9876b</string>
	<key>STORAGE_BUCKET</key>
	<string>usercredential-9876b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572502871178:ios:af6080bc966ac7a9d43173</string>
</dict>
</plist>